@using System.Web.Mvc

@{
    ViewBag.Title = "CreateConfirmation";
}

<h2 id="confirmationCreateContact-page">Confirmation</h2>
<p>Vous avez bien créer votre compte en tant qu'employé d'entreprise.</p>

<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Home.Index())
</div>

