@using System.Web.Mvc.Html
@using Stagio.Web.Module.Strings.Shared;
@{
    ViewBag.Title = "CreateStageSucceed";
}

<h2 id="create-succeed">Création d'un stage réussi</h2>
<div>
    Votre stage à été ajouté. Il doit maintenant être accepter par le coordonnateur.
</div>
<div>
    @Html.ActionLink(Navigation.ReturnHome, "Index")
</div>
