@using System.Web.Mvc.Html

@{
    ViewBag.Title = "CreateStageSucceed";
}

<h2 id="create-succeed">Création d'un stage réussi</h2>
<div>
    Votre stage à été ajouté. Il doit maintenant être accepter par le coordonnateur.
</div>
<div>
    @Html.ActionLink("Retour à l'acceuil", "Index")
</div>
