@using Stagio.Web.Module.Strings.Shared

@{
    ViewBag.Title = "DraftConfirmation";
}

<h2 id="draft-confirmation">Brouillon</h2>

<div>
    <p>
        L'offre de stage a été sauvegardée comme un brouillon.
    </p>
</div>


<div>
    @Html.ActionLink(Navigation.ReturnHome, MVC.Home.Index())
</div>
