@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Accueil Entreprise</h2>


    <div>
       Pour ajouter un autre employé de votre entreprise, cliquez  @Html.ActionLink("ici", MVC.ContactEnterprise.InviteContactEnterprise(), new { id = "invite-contact-enterprise" })
    </div>
    <div>
       Pour ajouter un offre de stage, cliquez @Html.ActionLink("ici", MVC.ContactEnterprise.CreateStage(), new { id = "create-stage-enterprise" })
    </div>
    <div>
       Pour afficher la liste de vos stages, cliquez  @Html.ActionLink("ici", MVC.ContactEnterprise.ListStage(), new { id = "listContact" })
    </div>
    
