@using Stagio.Web.Module.Strings.Shared



<h2 id="reactivateStage-page">Réactiver le stage</h2>
<p>Vous avez bien réactiver le stage. Le coordonateur doit l'accepter avant d'être visible pour les élèves.</p>

<div>
    @Html.ActionLink(Navigation.ReturnHome, MVC.Home.Index())
</div>
<div>
    @Html.ActionLink("Retour à la liste de stages", MVC.ContactEnterprise.ListStage())
</div>

