@using Stagio.Web.Module.Strings.Shared;
@{
    ViewBag.Title = "RefuseApplyConfirmation";
}

<h2 id="confirmationRefuseApply-page">Confirmation</h2>
<p>Vous n'êtes pas intéressé par la candidature de cet étudiant.</p>

<div>



    @Html.ActionLink("Retour à la liste de stages", MVC.ContactEnterprise.ListStage())

</div>

