@using Stagio.Web.Module.Strings.Shared

@{
    ViewBag.Title = "DraftDelete";
}

<h2>Suppression</h2>

<div>
    <p>
        Le brouillon a été supprimé avec succès.
    </p>
</div>

<div>
    @Html.ActionLink(Navigation.ReturnHome, MVC.Home.Index())
</div>