@{
    ViewBag.Title = "CreateConfirmation";
}

<h2 id="confirmationCreateCoordinator-page">Confirmation</h2>
<p>Vous avez bien créer votre compte en tant que coordonnateur.</p>

<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Home.Index())
</div>

