
@{
    ViewBag.Title = "Coordinator";
}

<h2 id="coordinator-home">Coordination</h2>

@Html.ActionLink("Créer un coordonnateur", MVC.Coordinator.Create(), new { id = "create-coordinator" })
<br/>
@Html.ActionLink("Envoyer une inviation", MVC.Coordinator.Invite(), new { id = "create-coordinator" })

