
@{
    ViewBag.Title = "Coordinator";
}

<h2 id="coordinator-home">Coordination</h2>

<br/>
@Html.ActionLink("Envoyer une inviation", MVC.Coordinator.Invite(), new { id = "create-coordinator" })

<div>
    @Html.ActionLink("Ajouter des étudiants", MVC.Student.Upload(), new { id = "upload-student" })
</div>
<div>
    @Html.ActionLink("Inviter les employés d'entreprises", MVC.Coordinator.InviteContactEnterprise(), new { id = "invite-enterprise" })
</div>
<div>
    @Html.ActionLink("Liste des stages pour un coordonnateur", MVC.Stage.ListNewStages(), new { id = "list" })
</div>
