

<!DOCTYPE html>

<html>
<head>
  
    <title>InviteOneContactEnterpriseConfirmation</title>
</head>
<body>

    <h2 id="confirmationInvitationOneContact-page">Confirmation</h2>
    <p>L'invitations a bien été envoyée à l'employé de l'entreprise.</p>

    <div>
        @Html.ActionLink(Navigation.ReturnHome, MVC.Home.Index())
    </div>
    </body>
</html>
