
@{
    ViewBag.Title = "InviteContactEnterpriseConfirmation";
}

<h2>Confirmation</h2>
<p>Vos invitations ont bien été envoyées aux employés des entreprises.</p>

<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Home.Index())
</div>