@using System.Web.Mvc.Html

@{
    ViewBag.Title = "InvitationSucceed";
}

<h2 id="invite-succeed">Invitation</h2>

<div>
    L'invitation a été envoyée avec succès.
</div>

<div>
    @Html.ActionLink("Retour à l'acceuil", "Index")
</div>

