@using Stagio.Web.Module.Strings.Shared


<h2 id="confirmation-RemoveStudent">Confirmation</h2>

<p>Vous avez bien retiré les étudiants sélectionnés.</p>

<div>
    @Html.ActionLink(Navigation.ReturnHome, "Index")
</div>