@using System.Web.Mvc
@model Stagio.Web.ViewModels.Student.Apply

    <h2 id="apply-page">Importer une lettre de présentation et un cv</h2>
    <br/>
    <form action="" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(model => model.IdStage)
        @Html.HiddenFor(model => model.IdStudent)
        <label for="file1">CV:</label>
        <input type="file" name="files" id="file1" />

        <br/>

        <label for="file2">Lettre de présentation:</label>
        <input type="file" name="files" id="file2" />
        
        <br/>
        <br/>

        <input type="submit" id="apply-button" value="Importer les fichiers" />
    </form>

    <div class="text-danger">
        @ViewBag.Message
    </div>
    <br/>
    <div>
        @Html.ActionLink("Retour à l'accueil", MVC.Student.Index())
    </div>
