@using Stagio.Web.Module.Strings.Shared;
@{
    ViewBag.Title = "ApplyConfirmation";
}

<h2 id="confirmationApplyStudent-page">Confirmation de postulation</h2>
<p>Votre postulation a bien été envoyée à l'entreprise.</p>

<div>
    @Html.ActionLink(Navigation.ReturnHome, MVC.Home.Index())
</div>
