@model Stagio.Web.ViewModels.Student.Apply

<h2 id="confirmationRemoveApplyStudent-page">Postulation retirée</h2>
<p>Vous avez bien retiré votre postulation de stage.</p>


<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Home.Index())
</div>