
@{
    ViewBag.Title = "ApplyConfirmation";
}

<h2 id="confirmationApplyStudent-page">Confirmation de postulation</h2>
<p>Votre postulation a bien été envoyée à l'entreprise.</p>

<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Home.Index())
</div>
