
<!DOCTYPE html>

<html>
<head>
    <title>ConfirmationUploadCVLetter</title>
</head>
<body>
    <div>
        <p id="confirmation-upload">Votre lettre de présentation et votre CV ont été importés</p> 
    </div>
    
    <div>
        @Html.ActionLink("Retour à l'accueil", MVC.Student.Index())
    </div>
</body>
</html>
