
@{
    ViewBag.Title = "CreateConfirmation";
}

<h2 id="confirmationCreateStudent-page">Confirmation</h2>
<p>Vous avez bien créer votre compte en tant qu'étudiant.</p>

<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Home.Index())
</div>