@using Stagio.Web.Module.Strings.Shared;
@{
    ViewBag.Title = "InterviewConfirmation";
}

<h2 id="interview-confirmation">Confirmation</h2>

<div>
    Votre date d'entrevue à été ajoutée.
</div>

<div>
    @Html.ActionLink(Navigation.ReturnHome, MVC.Home.Index())
</div>

