
@{
    ViewBag.Title = "InterviewConfirmation";
}

<h2>Confirmation</h2>

<div>
    Votre date d'entrevue à été ajoutée.
</div>

<div>
    @Html.ActionLink("Retour à l'accueil", MVC.Home.Index())
</div>

