<h2 id="home-page">Bienvenue</h2>
@Html.ActionLink("Modifier le profil 1", MVC.Student.Edit(1), new { id = "edit-student" })
@Html.ActionLink("Ajouter des étudiants", MVC.Student.Upload(), new { id = "upload-student" })