<h2 id="home-page">Bienvenue</h2>
@Html.ActionLink("Modifier le profil 1", MVC.Student.Edit(1), new { id = "edit-student" })
<br/>
@Html.ActionLink("Créer profil étudiant", MVC.Student.Create(), new { id = "create-student" })

